* {
    box-sizing: border-box;
    
}
body{
   background-color: #444444;
   color:white;
   
    
    
}

.wendy{
    margin-right: 2%;
    margin-left: 2%;
    border: 5px solid #6a737d;
    text-align:center;
    padding:80px;
    margin:auto;
    width: 960px;
    
}


h2{
    text-align: left;
}

.align-left{
    text-align: left;
}

p{
    display: block;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px; 
}

.bettyImg{
    float:right;
    border: #777777 solid 2px;
    padding: 7px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

a:link, a:visited {
    color: #6da;
}

.center {
    text-align:center;
}

.girl {
    margin: 5px;
    text-align: left;
}
.boy{
    margin: 5px;
    text-align: left;  
}

.education{
    text-align: left;
}